

<header class="main-header">
    <div>
        <a class="blog-logo" href="{{ "/" | relative_url}}"
            data-scrolly="{'winStart': 0, 'winEnd': 200, 'endStyles': {'margin-top': 8, 'width': 60}}">
            <img class="logo-white" src="{{ site.github.url }}/assets/images/logo-white.png" alt=""
                  data-scrolly="{'winStart': 0, 'winEnd':200, 'endStyles': {'opacity': 0}}" />
            <img class="logo-blue" src="{{ site.github.url }}/assets/images/logo-blue.png" alt="" 
                  data-scrolly="{'winStart': 0, 'winEnd':200, 'endStyles': {'opacity': 1}}"/>
        </a>
    </div>
</header>